/* Variables for colors and Typography */

:root {
  --white-font: rgb(241, 241, 241);
  --back-gradient: hsl(214, 52%, 19%);
  --main-font: "Barlow Semi Condensed", sans-serif;
  --blue-font: hsl(214, 43%, 44%);
  --num-scores: rgb(90, 90, 90);
}

body {
  background-image: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  font-family: var(--main-font);
}

/* Header Styles */

#scores-container {
  display: flex;
  justify-content: space-between;
  margin: 1.6em auto;
  width: 19em;
  height: 6em;
  border: solid 0.2em rgba(179, 200, 238, 0.575);
  border-radius: 0.5em;
}

#scores-container h1 {
  color: var(--white-font);
  font-size: 1.4em;
  margin-left: 0.7em;
}

#house-score-container {
  margin-right: 0.8em;
  margin-left: -1.3em;
}

.scores {
  background-color: var(--white-font);
  width: 4.4em;
  height: 4.4em;
  margin-top: 0.75em;
  border-radius: 0.3em;
  text-align: center;
}

.scores h4 {
  margin-top: 0.9em;
  color: var(--blue-font);
  font-size: 0.7em;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.scores p {
  color: var(--num-scores);
  font-size: 2.3em;
  font-weight: 700;
  margin-top: -0.38em;
}

/* Main Styles */

#play-container {
  width: 22em;
  height: 22em;
  margin: 3em auto 3em auto;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 2em;
}

button:active {
  outline: none;
}

.weapon {
  width: 12em;
  height: 12em;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  background-color: transparent;
}

.weapon img {
  width: 100%;
  border-radius: 50%;
}
/* 
.weapon img:hover {
  transform: scale(1.03);
} */

.hover-btn:hover {
  transform: scale(1.03);
}

#btn-scissors {
  margin-top: -4em;
}

/* playRound */

.flex {
  display: flex;
}

.hide {
  display: none;
}

#round-container {
  width: 22em;
  height: 22em;
  margin: 3em auto 3em auto;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 2em;
}

#picked-container {
  width: 22em;
  height: 14em;
  flex-wrap: wrap;
  justify-content: space-around;
}

#picked-container .p-choices {
  width: 10em;
  height: 2em;
  margin-top: 0em;
  text-align: center;
  font-family: var(--main-font);
  color: var(--white-font);
  font-weight: 700;
  letter-spacing: 0.1em;
  font-size: 0.8em;
}

#round-container p {
  color: var(--white-font);
  font-size: 3.3em;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin-top: 0.3em;
}

/* Footer */

.btn {
  background-color: transparent;
  border: 0.1em solid var(--white-font);
  color: var(--white-font);
  width: 8em;
  height: 2.8em;
  border-radius: 0.5em;
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: 0.1em;
  font-family: var(--main-font);
  margin: 0 auto;
  display: block;
  cursor: pointer;
  transition: 0.05s;
}

.btn:hover {
  background-color: var(--white-font);
  color: var(--blue-font);
}

.btn:focus {
  outline: none;
}

.btn:active {
  outline: none;
}

#btn-next-round {
  background-color: transparent;
  border: 0.1em solid var(--white-font);
  color: var(--white-font);
  width: 14em;
  height: 2.8em;
  border-radius: 0.5em;
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: 0.1em;
  font-family: var(--main-font);
  margin: -5em auto 2em auto;
  display: block;
  cursor: pointer;
  transition: 0.05s;
}

#btn-next-round:hover {
  background-color: var(--white-font);
  color: var(--blue-font);
}

/* Game-over Display */

.pop-up {
  position: absolute;
  top: 13.5em;
  left: 50%;
  margin-left: -9.8em;
  background-color: rgba(241, 241, 241, 1);
  border-radius: 0.5em;
  width: 19.3em;
  height: 23em;
}

.pop-up img {
  width: 90%;
  display: block;
  margin: 3.3em auto;
}

#game-over h1 {
  font-size: 4em;
  margin-left: 0.3em;
  margin-top: 0.2em;
  color: var(--back-gradient);
}

#play-again {
  border: 0.2em solid var(--back-gradient);
  color: var(--back-gradient);
  background-color: transparent;
  width: 21em;
  height: 4em;
  border-radius: 0.5em;
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: 0.1em;
  font-family: var(--main-font);
  margin: -1.5em auto 0em auto;
  display: block;
  cursor: pointer;
  transition: 0.05s;
}

#play-again:hover {
  background-color: var(--back-gradient);
  border: 0.1em solid var(--white-font);
  color: var(--white-font);
}

@media (min-width: 1000px) {
  /* Media for Header */
  #scores-container {
    margin: 2.2em auto;
    width: 40em;
    height: 8em;
    border: solid 0.2em rgba(179, 200, 238, 0.575);
    border-radius: 1em;
  }

  #scores-container h1 {
    font-size: 1.8em;
  }

  #house-score-container {
    margin-right: 0.8em;
    margin-left: -16.3em;
  }

  .scores {
    width: 6.4em;
    height: 6.4em;
    border-radius: 0.6em;
  }

  .scores h4 {
    margin-top: 0.9em;
    font-size: 1em;
  }

  .scores p {
    font-size: 3em;
  }

  /* Media for center */
  #play-container {
    width: 30em;
    height: 28em;
    padding-top: 2em;
  }

  .weapon {
    width: 16em;
    height: 16em;
  }

  #round-container {
    width: 30em;
    height: 28em;
  }

  #picked-container {
    width: 30em;
  }

  #round-container .p-choices {
    font-size: 1em;
  }

  #round-container p {
    margin-top: 0em;
    text-align: center;
    width: 100%;
  }

  #btn-next-round {
    margin-top: -4.3em;
    height: 3em;
    width: 18em;
  }

  /* Media for Footer */
  #btn-rules {
    position: absolute;
    right: 3em;
    bottom: 3em;
    width: 10em;
    height: 3em;
  }

  .pop-up {
    left: 50%;
    top: 14em;
    margin-left: -15em;
    border-radius: 1em;
    width: 30em;
    height: 27em;
  }

  .pop-up img {
    width: 70%;
    display: block;
    margin: 3.3em auto;
  }

  #game-over h1 {
    font-size: 6em;
    margin-left: 0.33em;
    margin-top: 0.2em;
  }

  #play-again {
    width: 12em;
    height: 4em;
    border-radius: 0.6em;
    font-size: 0.8em;
    margin: -9.7em 2.9em 0em auto;
    display: block;
    cursor: pointer;
    transition: 0.05s;
  }
}
